@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/bg.jpg) no-repeat center center/cover;
  overflow: hidden;
}

.bullet {
  background: url(../img/hole.png) no-repeat center center / cover;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(14px, 14px);
}

body {
  cursor: url('../img/aim.png'), url('../img/aim.png'), move;
}
